<!doctype html>

<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SONRISA CANINA</title>

    <link rel="shortcut icon" href="./favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/custom_styles_one.css">

</head>

<body>

<%- include('./components/welcome/navbar') %>
<%- include('./components/welcome/register') %>
<%- include('./components/welcome/login') %>

<section id="start" class="wallpaper w-Color-One">

    <div class="col-12 col-lg-10">

        <div class="col-11 col-lg-6 mx-auto text-center text-light">

            <h1 class="custom-font custom-main-title">
                Centro de adiestramiento
            </h1>

            <p class="fs-5">
                Juntos, aprendemos a ser los mejores amigos: ¡Entrena con nosotros en nuestro centro canino!
            </p>

            <a type="button" class="btn btn-warning mx-auto" href="https://wa.link/2duaqx" target="_blank">
                Voluntariado
            </a>

        </div>
    </div>

</section>

<section id="service"
         class="container"
         style="border-style: solid; border-width: 1px; border-color: rgba(255,255,255,0)">

    <div class="row mt-md-5">

        <h1 class="text-center mt-5">
            Disponemos de diversas sesiones y cursos
        </h1>

    </div>

    <div class="row mt-4">

        <div class="col-12 col-md-6 col-lg-4 mt-4">

            <div class="card mx-auto border-dark" style="width: 18rem;">

                <img class="card-img-top" src="./images/welcome/obedience_course.png" alt="obedience">

                <div class="card-body">

                    <h5 class="card-title text-center">
                        Sesiones de obediencia básica
                    </h5>

                    <p class="card-text text-center">
                        Curso ideal para perros jóvenes que necesitan aprender a como comportarse
                        adecuadamente en casa y en público
                    </p>

                    <div class="text-center">

                        <% if (authenticated) { %>

                            <a type="button"
                               class="btn btn-dark w-100"
                               href="/sessions">
                                Ver cursos y sesiones
                            </a>

                        <% } else { %>

                            <button type="button"
                                    class="btn btn-dark w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#loginModal">
                                Ver cursos y sesiones
                            </button>

                        <% } %>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-12 col-md-6 col-lg-4 mt-4">

            <div class="card mx-auto border-dark" style="width: 18rem;">

                <img class="card-img-top" src="./images/welcome/agility_course.png" alt="agility">

                <div class="card-body">

                    <h5 class="card-title text-center">
                        Curso de agilidad
                    </h5>

                    <p class="card-text text-center">
                        Sesiones a la medida para perros activos que disfrutan de correr, saltar y superar
                        obstáculos. A través de este curso, el perro aprenderá a completar circuitos de agilidad
                    </p>

                    <div class="text-center">

                        <% if (authenticated) { %>

                            <a type="button"
                               class="btn btn-dark w-100"
                               href="/sessions">
                                Ver cursos y sesiones
                            </a>

                        <% } else { %>

                            <button type="button"
                                    class="btn btn-dark w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#loginModal">
                                Ver cursos y sesiones
                            </button>

                        <% } %>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-4">

            <div class="card mx-auto border-dark" style="width: 18rem;">

                <img class="card-img-top" src="./images/welcome/therapy_course.png" alt="therapy">

                <div class="card-body">

                    <h5 class="card-title text-center">
                        Curso de terapia asistida
                    </h5>

                    <p class="card-text text-center">
                        Sesiones de clase para perritos tranquilos y amigables que disfrutan de la compañía de
                        personas en medio de ambientes de naturaleza
                    </p>

                    <div class="text-center">

                        <% if (authenticated) { %>

                            <a type="button"
                               class="btn btn-dark w-100"
                               href="/sessions">
                                Ver cursos y sesiones
                            </a>

                        <% } else { %>

                            <button type="button"
                                    class="btn btn-dark w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#loginModal">
                                Ver cursos y sesiones
                            </button>

                        <% } %>

                    </div>

                </div>

            </div>

        </div>


    </div>

</section>

<section id="about" class="wallpaper w-Color-Two mt-3">

    <div class="col-12 col-md-11" style="padding: 1rem;">

        <div class="col-12 col-md-6 ms-auto" style="background: rgba(255,255,255,0.60); padding: 40px">

            <div class="text-center">

                <h2 class="custom-font">¡Bienvenidos a Sonrisa Canina!</h2>

                <p class="mt-3">
                    Somos un equipo dedicado de instructores apasionados por los perros y el entrenamiento. Cada uno de
                    nosotros tiene una amplia experiencia y habilidades únicas que nos permiten brindar a cada mascota y
                    dueño una experiencia de aprendizaje personalizada y efectiva. Nuestro enfoque en el refuerzo
                    positivo y la comunicación clara significa que los perros disfrutan del proceso de aprendizaje tanto
                    como sus dueños. Ofrecemos una amplia variedad de clases, desde obediencia básica hasta
                    entrenamiento avanzado, para perros de todas las edades y habilidades.
                </p>

            </div>

        </div>

    </div>

</section>

<%- include('./components/welcome/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('./components/general/reload') %>
<%- include('./components/general/alerts') %>

</body>

</html>