<h1 class="text-center" style="font-family: 'Arial Rounded MT Bold', sans-serif">
    Sesiones de entrenamiento
</h1>

<div class="container-fluid mt-4">

    <div class="row mt-5 mb-5">

        <% if(user.rol === 'coach') { %>

            <div class="col-12 col-sm-6 col-lg-4 mb-5">
                <div class="card mx-auto border-dark" style="width: 15rem; height: 100%;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="/create-session">
                            <i class="fa-solid fa-circle-plus" style="font-size: 7rem;"></i>
                        </a>
                    </div>
                </div>
            </div>

        <% } %>

        <% sessions.forEach(session => { %>

            <div class="col-12 col-sm-6 col-lg-4 mb-5">
                <div class="card mx-auto border-dark" style="width: 15rem;">

                    <img class="card-img-top" src="./images/welcome/session_logo.png" alt="session">

                    <div class="card-body">

                        <h6 class="card-title">
                            <span class="fw-bolder">Entrenador:</span> <%= session.coach %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Descripción:</span> <%= session.description %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Día:</span> <%= session.date %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Lugar:</span> <%= session.place %>
                        </h6>

                        <div class="d-flex justify-content-center mt-3">

                            <% if(user.rol === 'coach') { %>

                                <form action="/edit-session" method='post'>
                                    <label for="id" class="d-none"></label>
                                    <input id="id" type="text" class="form-control d-none" name="id"
                                           value="<%= session.id %>">
                                    <button type="submit" class="btn btn-primary danger ms-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </form>

                                <form action="/delete-session/<%= session.id %>" method='post'>
                                    <button type="submit" class="btn btn-danger ms-3" onclick="confirmDelete(event)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>

                            <% } else { %>

                                <% if(user.dogs.length > 0){%>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#session<%= session.id %>">
                                    Inscribir
                                </button>
                                <% }%>
                                <div class="modal fade" id="session<%= session.id %>" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="modal-dialog">

                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Inscripción a sesión de entrenamiento
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <h6 class="card-title">
                                                    <span class="fw-bolder">Sesión de entrenamiento:</span>
                                                    <%= session.description %>
                                                </h6>

                                                <p class="mt-4">
                                                    Por favor selecciona a uno de tus perros:
                                                </p>

                                                <form action="/add-dog-to-session" method='post'>

                                                    <label for="session_id" class="d-none"></label>
                                                    <input id="session_id" type="text" class="form-control d-none"
                                                           name="session_id"
                                                           value="<%= session.id %>">

                                                    <label for="dog_id" class="fw-bolder">Caninos</label>
                                                    <select id="dog_id" class="form-select form-control mt-2"
                                                            name="dog_id">

                                                        <% user.dogs.forEach(dog =>{ %>
                                                            <option value="<%= dog.id %>"><%= dog.name %></option>
                                                        <% }) %>

                                                    </select>

                                                    <div class="d-flex justify-content-center">
                                                        <button type="submit" class="btn btn-primary mt-4">
                                                            Realizar inscripción
                                                        </button>
                                                    </div>

                                                </form>

                                            </div>

                                            <div class="modal-footer">

                                                <p>
                                                    Si tienes un problema y necesitas cancelar una sesión de
                                                    entrenamiento, debes comunicarte directamente con el entrenador para
                                                    solicitar la cancelación.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            <% } %>

                        </div>

                    </div>

                </div>

            </div>

        <% }) %>

    </div>

</div>

<script type="text/javascript">
    const confirmDelete = (event) => {
        if (!confirm("¿Estás seguro que deseas eliminar este registro?")) {
            event.preventDefault()
        }
    }
</script>