<h1 class="text-center" style="font-family: 'Arial Rounded MT Bold', sans-serif">
    Sesiones Programadas
</h1>

<div class="container-fluid mt-4">

    <% sessions.forEach(session => { %>

        <table class="table table-striped text-center mb-5"
               style="border-style: solid; border-width: 2px; border-color: #171616">
            <thead class="table-dark">
            <tr>
                <th scope="col">Entrenador</th>
                <th scope="col">Descripción</th>
                <th scope="col">Día</th>
                <th scope="col">Lugar</th>
                <th scope="col">Inscritos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= session.coach %></td>
                <td><%= session.description %></td>
                <td><%= session.date %></td>
                <td><%= session.place %></td>
                <td><%= session.dogs.length %></td>
            </tr>

            </tbody>

            <thead>
            <tr>
                <th scope="col">Género</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col" <% if( user.rol === 'customer') { %>colspan="2"
                        <% } %>
                >Edad
                </th>
                <% if(user.rol === 'coach') { %>
                    <th scope="col">Acciones</th>
                <% } %>

            </tr>
            </thead>

            <tbody>

            <% session.dogs.forEach(dog => { %>

                <tr class="align-middle">
                    <td><%= dog.gender %></td>
                    <td><%= dog.name %></td>
                    <td><%= dog.breed %></td>
                    <td <% if( user.rol === 'customer') { %>colspan="2"
                            <% } %>
                    ><%= dog.age %></td>

                    <% if(user.rol === 'coach') { %>
                        <td>
                            <form action="/delete-dog-to-session/<%= session.id %>/<%= dog.id %>" method='post'>
                                <button type="submit" class="btn btn-danger ms-3" onclick="confirmDelete(event)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
            </tbody>

        </table>

    <% }) %>

</div>

<script type="text/javascript">
    const confirmDelete = (event) => {
        if (!confirm("¿Estás seguro que deseas eliminar este registro?")) {
            event.preventDefault()
        }
    }
</script>