<h1 class="text-center" style="font-family: 'Arial Rounded MT Bold', sans-serif">
    Mis Caninos
</h1>

<div class="container-fluid mt-4">

    <div class="row mt-5 mb-5">

        <div class="col-12 col-sm-6 col-lg-4 mb-5">
            <div class="card mx-auto border-dark" style="width: 15rem; height: 100%;">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a href="/create-pet">
                        <i class="fa-solid fa-circle-plus" style="font-size: 7rem;"></i>
                    </a>
                </div>
            </div>
        </div>

        <% pets.forEach(pet => { %>

            <div class="col-12 col-sm-6 col-lg-4 mb-5">
                <div class="card mx-auto border-dark" style="width: 15rem;">

                    <img class="card-img-top" src="./images/welcome/dog_logo.png" alt="dog">

                    <div class="card-body">

                        <h6 class="card-title">
                            <span class="fw-bolder">Género:</span> <%= pet.gender %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Nombre:</span> <%= pet.name %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Raza:</span> <%= pet.breed %>
                        </h6>

                        <h6 class="card-title">
                            <span class="fw-bolder">Edad:</span> <%= pet.age %>
                        </h6>

                        <div class="d-flex justify-content-center mt-3">

                            <form action="/edit-pet" method='post'>
                                <label for="id" class="d-none"></label>
                                <input id="id" type="text" class="form-control d-none" name="id" value="<%= pet.id %>">
                                <button type="submit" class="btn btn-primary danger ms-3">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </form>

                            <form action="/delete-pet/<%= pet.id %>" method='post'>
                                <button type="submit" class="btn btn-danger ms-3" onclick="confirmDelete(event)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>

                        </div>

                    </div>

                </div>

            </div>

        <% }) %>

    </div>

</div>

<script type="text/javascript">
    const confirmDelete = (event) => {
        if (!confirm("¿Estás seguro que deseas eliminar este registro?")) {
            event.preventDefault()
        }
    }
</script>