<!doctype html>

<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SONRISA CANINA | PERFIL</title>

    <link rel="shortcut icon" href="./favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/custom_styles_two.css">

</head>

<body id="body" class="body_move">

<div id="app">

    <header>

        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="user__navbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">

                    <a id="navbarDropdown"
                       class="nav-link dropdown-toggle text-black"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       style="color: white">

                        <% if(user) { %>

                            <% if(user.rol === 'customer') { %>
                                Cliente
                            <% } else { %>
                                Entrenador
                            <% } %>

                        <% } %>

                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/">
                            <i class="fa-regular fa-file-lines"></i>
                            Página principal
                        </a>

                        <a class="dropdown-item" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Cerrar sesión
                        </a>

                    </div>

                </li>

            </ul>

        </div>

    </header>

    <div class="menu__side menu__side_move" id="menu_side">

        <div class="name__page">
            <i class="fa-solid fa-paw text-light"></i>
            <span>Sonrisa&nbsp;Canina</span>
        </div>

        <div class="container" style="margin-left: 10px;">
            <div style="width: auto; border-style: solid; border-top: 2px; border-color: rgba(255,255,255,0.7);"></div>
        </div>

        <div class="options__menu">

            <% if(user) { %>

                <a href="/user-data"
                   class="<%= path === '/user-data' || path === '/user-edit' ? 'selected' : '' %>">
                    <div class="option">
                        <i class="fa-solid fa-user-tie"></i>
                        <span>Información&nbsp;personal</span>
                    </div>
                </a>

                <% if(user.rol === 'customer') { %>

                    <a href="/customer-pets" class="<%=
                        path === '/customer-pets' ||
                        path === '/create-pet' ||
                        path === '/edit-pet' ? 'selected' : '' %>">
                        <div class="option">
                            <i class="fa-sharp fa-solid fa-dog"></i>
                            <span>Mis&nbsp;mascotas</span>
                        </div>
                    </a>

                <% } %>

                <a href="/sessions"
                   class="<%= path === '/sessions' || path === '/create-session' ? 'selected' : '' %>">
                    <div class="option">
                        <i class="fa-solid fa-book-open"></i>
                        <span>Sesiones</span>
                    </div>
                </a>

                <a href="/consult-sessions"
                   class="<%= path === '/consult-sessions' ? 'selected' : '' %>">
                    <div class="option">
                        <i class="fa-solid fa-list-check"></i>
                        <span>Consultar sesiones</span>
                    </div>
                </a>

            <% } %>

        </div>

    </div>

    <main>
        <%- body %>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../components/app/dashboard_script') %>
<%- include('../components/general/reload') %>
<%- include('../components/general/alerts') %>

</body>

</html>